EMAIL_HOST_PASSWORD = generate-your-app-passcode
EMAIL_HOST_USER = your-email
GOOGLE_CLIENT_ID = 107318202759-doeprsesua4lncsgp4nvkaa09cgqob46.apps.googleusercontent.com
CORS_ORIGIN_WHITELIST = 'http://localhost:3000'